.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
  transform: translateY(5%);
}
.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in, transform 100ms ease-in-out;
  transform: translateY(0);
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 350ms linear;
}
